// Colors
$theme-light-clr: #ffffff;
$theme-dark-clr: #1C1D20;

//$primary-clr: #1C1D20;
$primary-clr: #333;

//$__color-text: #1C1D20;
$color-text: #333;

$section-title-clr: $color-text;

// Fonts
$ff-primary: Roboto;
$fz-primary: 1.6rem;

//
$seperat_text: 2rem;

// Hero section
$header-height: 4em;
$btn-bg-clr: #333;
//$__btn-bg-clr: #1C1D20;