@use '../../shared/styles/styles.variables.scss' as vars;

.footerContainer {
    $__clr: #000; 

    color: $__clr;
    font-family: sans-serif;
    background: #fff;
    overflow: hidden;

    .footerContent {
        padding-block: 10vh 3rem;

        a {
            display: inline-block;
            transition: 0.4s ease;

            &:hover {
                transform: translateX(.5rem);
            }
        }

        .footerContactCredits {
            display: flex;
            gap: 2vw;

            @media (max-width: 769px) {
                flex-wrap: wrap;
                gap: 5rem;
            }

            .footerCol {
                font: normal 400 1.2em sans-serif;
                line-height: 1.5;
                white-space: nowrap;

                flex-basis: calc(100% / 3);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 5rem;

                @media (max-width: 769px) {
                    flex: 1;
                }

                button {
                    color: $__clr;
                    border: none;
                    outline: none;
                    background: transparent;
                    cursor: pointer;
                }
            }
        }

        h5 {
            margin-top: 10vh;
            text-align: right;
            font: normal 500 15vw '__nextjs-Geist';
            line-height: 1;
        }
    }

    .mb-1 {
        margin-bottom: .5rem;
    }
}